﻿@model SuperSite.Models.PayPalCheckoutInfo

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>PayPalCheckoutInfo</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.receiver_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txn_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txn_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.txn_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.txn_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.verify_sign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.verify_sign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_country_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_country_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.invoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.invoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mc_currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mc_currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mc_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mc_fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mc_gross)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mc_gross)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pending_reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pending_reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.protection_eligibility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.protection_eligibility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reason_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correlationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correlationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.errmsg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.errmsg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.errcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.errcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
