﻿<!--banner-starts-->
<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider1">
            <li>
                <img src="http://placehold.it/350x150&text=NewItem1" alt="" />
            </li>
            <li>
                <img src="http://placehold.it/350x150&text=NewItem2" alt="" />
            </li>
            <li>
                <img src="http://placehold.it/350x150&text=NewItem3" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
</div>
<!--banner-ends-->

