﻿
@{
  
    ViewBag.Tile = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        <br />
        *IN EARLY DEVELOPMENT* <br /><br />

        FInal Year Dissertation Project by Tom Craven Software Engineer BSc <br /><br />
 
        Get the latest specification: <a href="https://drive.google.com/open?id=1025FIFxjieEJHTA3Q2HQLqKpYMv7pgQ2Gyz0xj2P-uE" >Link</a> <br />

        Contact me on linkedIn: <a href="https://uk.linkedin.com/in/tom-craven-078169114">Link</a>    
    </div>

</body>
</html>
