﻿@{
    ViewBag.Title = "Contact";
    ViewBag.Title = "Tom";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    26 Nurseries Road<br />
    Kidlington, Oxfordshire<br />
    OX51AN <br />
    <abbr title="Phone">P:</abbr>
    (+44)7540998955
</address>

<address>
    <strong>Marketing & Support:</strong>   <a href="mailto:ContactMe@SimplyGetSoftware.com">ContactMe@SimplyGetSoftware.com</a><br />
</address>