﻿
@Html.Partial("_SliderPartial")
<div class="container-fluid">
    <h2>Featured Items</h2>
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/350x150&text=FeaturedItem1" alt="">
        <div class="caption">
            <h4 class="pull-right">Featured item 1 price</h4>
            <h4>
                <a href="#">Featured item 1 detail</a>
            </h4>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/350x150&text=FeaturedItem2" alt="">
        <div class="caption">
            <h4 class="pull-right">Featured item 2 price</h4>
            <h4>
                <a href="#">Featured item 2 detail</a>
            </h4>
        </div>
    </div>
</div>

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="http://placehold.it/350x150&text=FeaturedItem3" alt="">
        <div class="caption">
            <h4 class="pull-right">Featured item 3 price</h4>
            <h4>
                <a href="#">Featured item 3 detail</a>
            </h4>
        </div>
    </div>
</div>
</div>