﻿@Model SuperSite.Models.Site;
@{
    ViewBag.Title = "Home Page";
    
}


@{
    var mainImage = "../img/" + Model.Filename1;
    var footerImage = "../img/" + Model.Filename11;
    var bgColor = Model.Theme.Colour; 
}

    <a id="menu-link" href="#" class="">
        <span class="menu-icon"></span>
    </a>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                <li><a href="#home" class="smooth-scroll">Home</a></li>
                <li><a href="#start" class="smooth-scroll">About product</a></li>
                <li><a href="#showcase" class="smooth-scroll">Showcase</a></li>
                <li><a href="#requirements" class="smooth-scroll">Requirements</a></li>
                <li><a href="#features" class="smooth-scroll">Features</a></li>
                <li><a href="#contact" class="smooth-scroll">Contact</a></li>
                <li><a href="http://www.google.com" class="smooth-scroll">External link</a></li>
            </ul>
        </nav>
    </div>

    <div id="wrap">
        <section id="hero" class="m-center text-center bg-shop full-height">
            <div class="center-box">
                <div class="container-fluid nopadding">
                    <div class="hero-unit ">
                        <h1 class="title"><b>@Model.Stock.Name</b> </h1>
                        <h3><b>OnePage / OneProduct / OneTemplate</b></h3>
                        <p>
                            <br>                         
                            <b>1E-shop</b> is onePage full responsive bootstrap template.<br>
                        </p>
                        <br>
                        <a class="btn white" href="#" data-toggle="modal" data-target="#product-modal"><b>$@Model.Stock.Price</b> BUY NOW</a>
                    </div>
               
                    <div class="col-sm-12 img-hero" style="background: #@bgColor url(@mainImage) no-repeat center center!important"></div>
                </div>
                <a href="#start" class="hero-start-link smooth-scroll anchor-link"><i class="fa fa-angle-double-down"></i></a>
            </div>
        </section>
        <section id="start" class="padding-top-bottom text-center">
            <div class="container">
                <div class="row header">
                    <div class="col-md-12">
                        <h2>PAPER CUP</h2>
                        <p>HQ PSD Mock-up</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>Assault voodoo god paranoid tattoo modem kanji <a href="#" title="">drone</a> urban hotdog uplink computer. Dome car papier-mache geodesic wonton soup RAF warehouse woman military-grade numinous shrine nodality pre. Physical drone chrome sunglasses footage vinyl disposable office denim youtube. Systemic-ware advert geodesic alcohol assassin monofilament shrine Chiba voodoo god film convenience store disposable industrial grade camera cartel. Artisanal marketing RAF into advert geodesic sprawl realism woman dome footage courier table drone media youtube ablative.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- vertical center / slider -->
        <!-----*SLIDESHOW*------->
        <section id="showcase" class="" style="z-index:2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 slider">
                        <div id="as-slider" class="owl-carousel" data-autoplay="4000" data-navigation="false" data-dots="true" data-transition="">
                            <div class="item m-center" style="background-image: url(img/@Model.Filename2);"></div>
                            <div class="item m-center" style="background-image: url(img/@Model.Filename3);"></div>
                            <div class="item m-center" style="background-image: url(img/@Model.Filename4);"></div>
                            <div class="item m-center" style="background-image: url(img/@Model.Filename5);"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 bg-shop" style="height:500px;">
                        <div class="half-box-right">
                            <div class="center-vertical">
                                <div class="center-vertical-box">
                                    <h1><b>See what's included</b></h1>
                                    <ul style="padding: 20px;">
                                        <li>Changeable lid color</li>
                                        <li>Changeable cup color</li>
                                        <li>Changeable cup label via smart object</li>
                                        <li>On/off shadows</li>
                                        <li>On/off specular</li>
                                        <li>Changeable background</li>
                                        <li>High resolution 3000 × 1875px</li>
                                    </ul>
                                    <a href="#" data-toggle="modal" data-target="#product-modal" class="btn dark"><b>$@Model.Stock.Price</b> BUY NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end vertical center / slider -->
        <section id="requirements" class="padding-top-bottom bg-clouds text-center">
            <div class="container">
                <div class="row header">
                    <div class="col-md-12">
                        <h2>Requirements</h2>
                        <p>Adobe Photoshop CS4+</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <img src="img/@Model.Filename9" alt="#" class="img-responsive center-block" width="200" height="200">
                    </div>
                </div>
            </div>
        </section>
        <!-----*FEATURES*------->
        <section id="features" class="features-1">
            <div class="container padding-top-bottom">
                <div class="row header">
                    <div class="col-md-12">
                        <h2>Features</h2>
                        <p>We are here for you</p>
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in ">
                        <article class="text-center">
                            <img src="img/@Model.Filename6" alt="#" class="zoom-img img-responsive center-block">
                            <h3>​ORGANISED LAYERS</h3>
                            <p>Nodal point courier towards decay dome advert wonton soup chrome voodoo.</p>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
                        <article class="text-center">
                            <img src="img/@Model.Filename7" alt="#" class="zoom-img img-responsive center-block">
                            <h3>​SMART OBJECT</h3>
                            <p>Table plastic concrete silent nano-dome industrial grade. Hotdog marketing.</p>
                        </article>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
                        <article class="text-center">
                            <img src="img/@Model.Filename8" alt="#" class="zoom-img img-responsive center-block">
                            <h3>TRANSPARENT BG</h3>
                            <p>Grenade wonton soup faded disposable dome cardboard spook refrigerator dolphin.</p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
        <section class="cta-1 bg-dark padding-top-bottom text-center white-text">
            <div class="container-fluid anima scale-in">
                <span>​Do you like PAPER CUP - Mockup? </span>
                <a class="btn" href="#" data-toggle="modal" data-target="#product-modal"><b>$@Model.Stock.Price</b> Buy now</a>
            </div>
        </section>
        <section style="background: #@bgColor url(@footerImage) no-repeat center center;" id="news" class="content-1 bg-image-2 padding-top-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="white-box">
                            <h2><b>NICE Product :)</b></h2>
                            <p>Scelerisque pulvinar praesent ultrices, amet condimentum wisi felis et. At lobortis risus ipsum praesent urna. Metus lectus duis porttitor. Tellus debitis suspendisse feugiat, non tellus in sed luctus lacus rutrum, iaculis at risus cras vel sit, qui morbi lacus, ultricies semper. Odio ac, diam donec. Tincidunt cursus vel nulla tincidunt, vitae ut tempor ut orci tortor mi</p>
                            <blockquote class="blockquote-reverse">
                                <p>Jessica Red</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="facts" class="numbers-1 padding-top-bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="numbers-item">
                            <h2 class="counter">367</h2>
                            <h4>Purchases</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="numbers-item">
                            <h2><span class="counter">99.1</span> <span>%</span></h2>
                            <h4>User Ratings</h4>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="numbers-item">
                            <h2><span class="counter">17</span> <span>k</span></h2>
                            <h4>Followers</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="cta-1 bg-shop padding-top-bottom text-center ">
            <div class="container-fluid anima scale-in">
                <span>​Email for a custom and/or unlimited license.</span>
                <a class="btn dark" href="#" data-toggle="modal" data-target=".text-modal">Mock-up License</a>
            </div>
        </section>
        <section id="contact" class="padding-top-bottom">
            <div class="container">
                <div class="row header">
                    <div class="col-md-12">
                        <h2>Contact me</h2>
                        <p>For any questions fill in the form below & we'll get back to you ASAP!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 contact-info">
                        <div id="alert-contact">
                            <div class="alert alert-success" role="alert"><strong>Your message has been sent.</strong></div>
                        </div>
                        <form id="contact-form" action="#" class="myform" method="post" novalidate>
                            <div class="row clearfix">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Name</label>
                                        <div class="controls">
                                            <input name="contactName" placeholder="Your name" class="form-control input-lg requiredField" type="text" data-error-empty="Enter name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="contact-mail">Email</label>
                                        <div class="controls">
                                            <input name="email" placeholder="Your email" class="form-control input-lg requiredField" type="email" data-error-invalid="Invalid email address" data-error-empty="Enter email">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="contact-message">Message</label>
                                <div class="controls">
                                    <textarea name="comments" placeholder="Your message" class="form-control input-lg requiredField" rows="5" data-error-empty="Enter message"></textarea>
                                </div>
                            </div>
                            <p><button name="submit" type="submit" class="btn btn-store btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Email Sent">Send Message</button></p>
                            <input type="hidden" name="submitted" id="submitted3" value="true">
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer-1 text-center">
            <div class="container-fluid">
                <a href="#home" class="back-to-top smooth-scroll"><i class="fa fa-chevron-up"></i></a>           
                <ul class="social-links-2 ">
                    <li onclick="alert('Function in development')"><a ><i class="fa fa-facebook"></i></a></li>
                    <li onclick="alert('Function in development')"><a ><i class="fa fa-dribbble"></i></a></li>
                    <li onclick="alert('Function in development')"><a ><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </section>
        <div class="modal fade text-modal" id="text-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
            <div class="modal-dialog modal-sm2">
                <div class="modal-content">
                    <div class="modal-header bg-shop">
                        <a class="close-modal" href="#" data-dismiss="modal">
                            <span class="menu-icon"></span>
                        </a>
                        <h2 class=""><b>License</b></h2>
                    </div>
                    <div class="modal-body">
                        #Todo : legal constraints
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="smallModal" aria-hidden="true">
            <div class="modal-dialog modal-sm2">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close-modal" href="#" data-dismiss="modal">
                            <span class="menu-icon"></span>
                        </a>
                        <img src="img/@Model.Filename10" alt="" class="img-responsive">
                    </div>
                    <div class="modal-body">
                        <h3 class="text-center"><b>PaperCup - Mockup </b>($@Model.Stock.Price)</h3>
                    </div>
                    <div class="modal-footer">
                        <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
                        <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="@Model.Stock.PaypalButtonId">
                            <input type="image" hidden src="https://www.sandbox.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" alt="PayPal – The safer, easier way to pay online!">                      
                            <img alt="" border="0" hidden src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
                            <p>                              
                                *Sandboxed* <br /> 
                                 email: <strong>tester@simplygetsoftware.com</strong><br />
                                 Password: <strong>Passw0rd!</strong>
                            </p>
                            <button type="submit" name="submit" class="btn btn-block">PAY NOW</button>                         
                        </form>    
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Core scrips -->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/core.js"></script>
    <script type="text/javascript" src="js/menu-overlay.js"></script>
    <script type="text/javascript" src="js/placeholders.min.js"></script>
    <!-- end core scripts -->
    <!-- sliders -->
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.waitforimages.min.js"></script>
    <script type="text/javascript" src="js/sliders.js"></script>
    <script type="text/javascript" src="js/jquery.counterup.min.js"></script>
    <script type="text/javascript" src="js/numbers.js"></script>
    <script type="text/javascript" src="js/contact.js"></script>
