﻿  
        @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600);
       
 .logo {
    width: 247px;
    background-color: #fff;
    text-align: center;
    height: 42px;
    line-height: 72px;
    padding: 30px 0 0 0;
    margin-right: 40px;
} 

 .pull-left {
    float: left;
    clear:both;
}
 .pull-right {
    float: right;
    clear: both;
}

 .headerLogo {
    padding: 10px 0 100px 0px;
}
 .headerLogo .need-help {
    font-size: 18px;
    padding-left: 20px;
    padding-top: 70px;
    color: black;
}

body {
     font-family: 'Source Sans Pro', sans-serif;
}

.clearNavBar {
    float: none;
    clear: both;
}

.headerdetails {
    padding: 10px 0 100px 0px;
    clear: both;
}

.subnav {
    margin-top:40px;
}

.navbar {
    border-radius: 2px;
}

.navbar-default {
    background-color: #ddecb6;
    border-color: #e7e7e7;
}

ul.categorymenu > li:hover > a, ul.categorymenu > li > a.active {
    color: #fff!important;
    text-shadow: none;
    background-color:#6c7d6e !important;}
ul.categorymenu > li > a {
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    color: BLACK!Important;
    text-transform: uppercase;
    font-size: 14px;
}
.help {
    margin-top:30px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides img {
  height: auto;
  display: block;
  float: left;
  width: 100%;
  border: 0;
}

ul {
    padding: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.callbacks_tabs {
	list-style: none;
	position: relative;
	top: 101%;
	z-index: 999;
	left: 0%;
	width: 100%;
	text-align: center;
	margin:0px;
	display: block;
	padding: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
	content: "\f111";
	font-size: 0;
	font-family: FontAwesome, sans-serif;
	visibility: visible;
	display: block;
	height: 12px;
	width: 12px;
	display: inline-block;
	border:none;
    border-radius:4px;
	background:#000;
}
.callbacks_here a:after{
	background-color:Grey;
}
ul.callbacks_tabs.callbacks2_tabs {
	display: block;
}
.callbacks_nav {
display:none}

#navbar-collapse-1 {
}
#navbar-collapse-2 {
}