﻿@model SuperSite.Models.Site

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Site</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theme.CSSFileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.CSSFileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @if (@Model.isActive == 1)
            {
                <span style="color:red">*Active*</span>
            }
            else
            {
                <span style="color:blue">*Disabled*</span>
            }
        </dd>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Attached Images</h1>
                </div>

                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename1)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename1)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename2)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename2)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename3)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename3)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename4)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename4)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename5)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename5)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename6)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename6)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename7)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename7)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename8)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename8)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename9)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename9)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename10)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename10)" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @Html.DisplayNameFor(model => model.Filename11)
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="~/img/@Html.DisplayFor(model =>model.Filename11)" alt="">
                    </a>
                </div>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
