﻿@model IEnumerable<SuperSite.Models.Site>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme.ThemeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme.ThemeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Name)
        </td>
        <td>
            @if (@item.isActive == 1)
            {
                <span style="color:red" >*Active*</span>
            }
            else
            {
           

                <input type="button" value="Activate"
                       onclick="location.href='@Url.Action("makeActive","Site", new { id =item.SiteId })'" />
            }
            
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.SiteId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.SiteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SiteId })
        </td>
    </tr>
}
  
</table>
