﻿@model IEnumerable<SuperSite.Models.Site>

@{
    ViewBag.Title = "CustomerIndex";
    ViewBag.RowNumber = 0;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="~/img/placehold800300.png" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/img/placehold800300.png" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="~/img/placehold800300.png" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="~/img/@item.Filename1" alt="">
                            <div class="caption">
                                <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Stock.Price)</h4>
                                <h4>
                                    <a href="#">@Html.DisplayFor(modelItem => item.Stock.Name)</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                }
            </div>
