﻿@model SuperSite.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding:5px;">
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.TransactionId)
        </dt>
        <dd style="padding:5px;">
            @Html.ActionLink(Model.PayPalCheckoutInfo.txn_id, "Details", "PayPal", new { @id = Model.PayPalCheckoutInfo.TransactionId }, new { @class = "ButtonLink" })           
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.payer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPalCheckoutInfo.payer_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.payer_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPalCheckoutInfo.payer_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.payment_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayPalCheckoutInfo.payment_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </dt>
        <dd>
            @Html.ActionLink(Model.Stock.Name, "Details", "Stock", new { @id = Model.StockId }, null)  
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IPNDateRecieved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IPNDateRecieved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Home", "Index", "Home")</p>
