﻿@model IEnumerable<SuperSite.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.TransactionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayPalCheckoutInfo.payer_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPNDateRecieved) (Server local)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayPalCheckoutInfo.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayPalCheckoutInfo.payer_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPNDateRecieved) 
        </td>
        <td>           
            @Html.ActionLink("Details", "Details", new { id=item.TransactionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionId })
        </td>
    </tr>
}

</table>
