﻿@model SuperSite.Models.Supplier

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassPhrase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POEmail)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SupplierId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
