﻿@model SuperSite.Models.Stock

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stock</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StockId)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @if (Model.PaypalButtonId == "N/A" || Model.PaypalButtonId == "")
            {
                <br />
                <p>
                    To complete the stock configuration create a new paypal button following the link below<br />

                    1. Login using the business credentials for test version : username: contactme@simplygetsoftware.com  Password: Passw0rd!<br />
                    If you have to find your way there manually follow the path to Profile -> My account settings -> My selling preferences -> My paypal buttons<br />
                    <br />
                    2. Add the Name and price of the product finally enter the <span style="color:red">optional Id @Model.StockId</span> in the box provided<br />
                    <br />
                    3. Save the button and select the code provided taking note of the hosted button value *example below*<br />
                    <br />
                    name="hosted_button_id" value="WPBQ693UMFMSU"<br />

                    4. Finally paste that value without quotes into the box provided below<br />
                </p>
            }
            <span style="color:red"><a target="_blank" href="https://www.sandbox.paypal.com/uk/cgi-bin/customerprofileweb?cmd=_button-management">*Take me to paypal*</a></span>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.PaypalButtonId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PaypalButtonId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PaypalButtonId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SupplierId, "SupplierId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("SupplierId", new SelectList((System.Collections.IEnumerable)ViewData["Suppliers"], "SupplierId", "Name"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SupplierId, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Filename1, "Main Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename1, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename2, "SlideShow-1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename2, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename2, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename3, "SlideShow-2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename3, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename3, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename4, "SlideShow-3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename4, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename5, "SlideShow-4", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename5, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename5, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename6, "Feature-1", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename6, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename6, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename7, "Feature-2", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename7, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename7, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename8, "Feature-3", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename8, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename8, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename9, "Requirement", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename9, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename9, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename10, "Checkout", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename10, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename10, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Filename11, "Footer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Filename11, new { type = "file" })
                @Html.ValidationMessageFor(model => model.Filename11, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
