﻿@model IEnumerable<SuperSite.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Supplier.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaypalButtonId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Supplier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @if (item.PaypalButtonId == "N/A")
            {
                <span style="color:red">@Html.ActionLink("Configure Now", "Edit", new { id = item.StockId })</span>
            }
            else
            {
             @Html.DisplayFor(modelItem => item.PaypalButtonId)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StockId })
        </td>
    </tr>
}

</table>
