﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/NavbarLayout.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/responsiveslides.min.js"></script>
    <script type="text/javascript">	    
			    $(function () {	
			      $("#slider1").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after</li>");
			        }
			      });

			    });
    </script>
</head>
<body>
    <header>
        <div class="container ">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="" href="" title="about us">About Us</a> </li>
                            <li><a class="" href="" title="FAQ">FAQ</a> </li>
                            <li><a class="" href="">Contact Us</a> </li>
                            <li><a class="" href="">Blog</a> </li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

            <div class="headerdetails">
                <a href="" class="logo pull-left"><img src="http://placehold.it/350x150?text=Company+logo" alt="" title=""></a>
                <div class="pull-right help">
                    <h3>Need Help? - Telephone# 1234556 </h3>
                   
                </div>
            </div>
            <!--navbar -->
            
                <div class="navbar navbar-default subnav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>               
                    </div>
                    <div class="navbar-collapse collapse" id="navbar-collapse-2">
                        <ul class="nav navbar-nav categorymenu">
                            <li><a href="#">Category A</a></li>
                            <li><a href="#">Category B</a></li>
                            <li><a href="#">Category C</a></li>                           
                            <li><a href="#">Category D</a></li>
                        </ul>
                    </div>
                </div>
              
            </div>

</header>
    <div class="container">
        @RenderBody()
        </div>
    <footer>      
        <div class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="col-md-6 footer-left">
                        <form>
                            <label>Subscribe to our blog</label>
                            <input type="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-6 footer-right">
                        <p>@DateTime.Now.Year - www.simplygetsoftware.com</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </footer>       
        <hr />        
        @RenderSection("Scripts", required: false)
</body>
</html>
