﻿<!DOCTYPE html>
<html>
<head>
    <title>SuperSite - Development Project</title>
    <meta charset="utf-8">
    <meta name="author" content="SimplyGetSoftware.com">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href=@ViewBag.CSSFileName>
    <link rel="shortcut icon" href="~/img/ico/32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon-precomposed" href="~/img/ico/60.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/img/ico/72.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="~/img/ico/120.png" type="image/png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="~/img/ico/152.png" type="image/png" />
    <script type="text/javascript" src="~/js/modernizr.min.js"></script>

    
    @*@Scripts.Render("~/bundles/modernizr")*@
    <style type="text/css" >
        .navbar {z-index:1;
        }
        #menu-link {z-index:2;top:80px;
        }  

    </style>
   
    @*@Styles.Render("~/Content/css")*@
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:white;background-color:black;">*Feature Developments*</a>                     
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })  
                @Html.ActionLink("About this site", "About", "Site", new { area = "" }, new { @class = "navbar-brand" })                         
            </div>
            <div class="navbar-collapse collapse">            
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
   
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - www.simplygetsoftware.com</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>



















