﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome @User.Identity.GetUserName()<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Stock", "Index", "Stock")</li>
                        <li>@Html.ActionLink("Suppliers", "Index", "Supplier")</li>
                        <li>@Html.ActionLink("Transactions", "Index", "Transaction")</li>
                        <li>@Html.ActionLink("Site Configuration", "Index", "Site")</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                </li>               
            </ul>
           
        

    @*<ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>*@
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register Administrator", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}



@*<   class="headerstrip">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Top Nav Start -->
                    <div class="pull-left">
                        <div class="navbar" id="topnav">
                            <div class="navbar-inner">
                                <ul class="nav">
                                    <li><a class="home" href="sunshinesolar.co.uk" title="home"><i class="icon-home"></i>Home</a> </li>
                                    <li><a class="" href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=display&amp;ref=aboutus&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="about us">About Us</a> </li>
                                    <li><a class="" href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=display&amp;ref=faq&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="FAQ">FAQ</a> </li>
                                    <li><a class="" href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=display&amp;ref=rewards&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="reward points">Reward Points</a> </li>
                                    <li><a class="" href="" title="my account">My Account</a> </li>
                                    <li><a class="" href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=contact&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Contact Us</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Top Nav End -->
                    <div class="pull-right">
                        <form action="index.php" method="get" id="gbu0--minisearch" class="form-search top-search">
                            <p class="hidden"><input name="portrelay" id="gbu0--minisearch--portrelay" value="1" type="hidden"></p>
                            <p class="hidden"><input name="sid" id="gbu0--minisearch--sid" value="xl02s787x05asb14010ur253m691zpa3" type="hidden"></p>
                            <p class="hidden"><input name="app" id="gbu0--minisearch--app" value="gbu0" type="hidden"></p>
                            <p class="hidden"><input name="ns" id="gbu0--minisearch--ns" value="prodsearchp" type="hidden"></p>
                            <input name="gbu0--prodsearch--string" id="gbu0--minisearch--gbu0--prodsearch--string" class="input-medium search-query" value="" placeholder="Search Here..." type="text">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="headerdetails">
            <a href="" class="logo pull-left"><img src="skins/sunshinesolar/media/logo.png" alt="Sunshine Solar Limited" title="Sunshine Solar Limited"></a>
            <div class="pull-left need-help">
                <strong>Need Help?</strong>  01508 488 188 - Mon-Fri 9AM - 5PM

            </div>
            <div class="pull-right mini-cart">
                <ul class="nav topcart pull-left">
                    <li class="dropdown hover carticon ">
                        <a href="" title="shopping cart">
                            Shopping Cart <span class="label label-orange font14">0 Item(s)</span>
                            <span class="notranslate">£0.00</span>
                            <b class="caret"></b>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="categorymenu">
            <nav class="subnav">
                <ul class="nav-pills categorymenu">
                    <li>
                        <a href="" title="Solar Panels">Solar Panels</a>
                        <div>
                            <ul>
                                <li><a href="" title="Sunshine Solar Crystalline Range">Sunshine Solar Crystalline Range</a></li>
                                <li><a href="" title="Sunshine Flexible Solar Panels">Sunshine Flexible Solar Panels</a></li>
                                <li><a href="" title="Sunshine Solar Amorphous Range">Sunshine Solar Amorphous Range</a></li>
                                <li><a href="" title="Unframed Small Modules">Unframed Small Modules</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="" title="Caravan &amp; Motorhome">Caravan &amp; Motorhome</a>
                    </li>
                    <li>
                        <a href="" title="Power Inverters">Power Inverters</a>
                        <div>
                            <ul>
                                <li><a href="" title="Pure Sine Wave Inverters 12V">Pure Sine Wave Inverters 12V</a></li>
                                <li><a href="" title="Pure Sine Wave Inverters 24V">Pure Sine Wave Inverters 24V</a></li>
                                <li><a href="" title="Pure Sine Wave Inverters 48V">Pure Sine Wave Inverters 48V</a></li>
                                <li><a href="" title="Modified Sine Wave Inverters 12V">Modified Sine Wave Inverters 12V</a></li>
                                <li><a href="" title="Modified Sine Wave Inverters 24V">Modified Sine Wave Inverters 24V</a></li>
                                <li><a href="" title="UPS Inverter Chargers 12V">UPS Inverter Chargers 12V</a></li>
                                <li><a href="" title="Sterling Power Products">Sterling Power Products</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="" title="Batteries &amp; Chargers">Batteries &amp; Chargers</a>
                        <div>
                            <ul>
                                <li><a href="" title="Leisure Batteries - Wet Lead Acid">Leisure Batteries - Wet Lead Acid</a></li>
                                <li><a href="" title="Leisure Batteries - AGM">Leisure Batteries - AGM</a></li>
                                <li><a href="" title="Industrial Batteries">Industrial Batteries</a></li>
                                <li><a href="" title="AC Mains Battery Chargers">AC Mains Battery Chargers</a></li>
                                <li><a href="" title="Solar Battery Chargers">Solar Battery Chargers</a></li>
                                <li><a href="" title="Battery Accessories">Battery Accessories</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="" title="Lighting">Lighting</a>
                        <div>
                            <ul>
                                <li><a href="" title="Solar Lighting Kits">Solar Lighting Kits</a></li>
                                <li><a href="" title="Low Energy Lighting">Low Energy Lighting</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="" title="Power Kits">Power Kits</a>
                        <div>
                            <ul>
                                <li><a href="" title="Portable &amp; Folding Solar Kits">Portable &amp; Folding Solar Kits</a></li>
                                <li><a href="" title="Boat Solar Kits">Boat Solar Kits</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=WindSolarCombo&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Wind &amp; Solar Combos">Wind &amp; Solar Combos</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=OffGridSolarKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Off Grid &amp; Solar Backup Kits">Off Grid &amp; Solar Backup Kits</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Accessories&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Accessories">Accessories</a>
                        <div>
                            <ul>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Regulators&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Regulators/Controllers">Regulators/Controllers</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=CableConnectors&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Cables &amp; Connectors">Cables &amp; Connectors</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=MountingSystems&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Mounting Systems">Mounting Systems</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarTestingDevices&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Solar Testing Devices">Solar Testing Devices</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Labels1&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="MCS Warning Labels">MCS Warning Labels</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=12V-Accessories&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="12 Volt  Accessories">12 Volt  Accessories</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=OtherProducts&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Other Products">Other Products</a>
                        <div>
                            <ul>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=WindPower&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Wind Power">Wind Power</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarVents&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Vents &amp; Fans">Vents &amp; Fans</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=MultiBuyDeals&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Multi-Buy Deals">Multi-Buy Deals</a></li>
                                <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=StockClearance&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Stock Clearance">Stock Clearance</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=prodspec&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1" title="Special Offers"><strong>Special Offers</strong></a></li>
                </ul>


                <select><option selected="selected" value="">Select a Category...</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarPanels&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Solar Panels</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=CrystallinePanels&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Sunshine Solar Crystalline Range</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=FlexibleSolar&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Sunshine Flexible Solar Panels</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=AmorphousPanels&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Sunshine Solar Amorphous Range</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SmallModules&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Unframed Small Modules</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=CaravanMotorhomeKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Caravan &amp; Motorhome</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PowerInverters&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Power Inverters</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PureSineWave12V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Pure Sine Wave Inverters 12V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PureSineWave24V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Pure Sine Wave Inverters 24V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PureSineWave48V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Pure Sine Wave Inverters 48V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=ModifiedSineWave12V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Modified Sine Wave Inverters 12V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=ModifiedSineWave24V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Modified Sine Wave Inverters 24V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=InverterChargers12V&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">UPS Inverter Chargers 12V</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SterlingPowerProducts&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Sterling Power Products</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Batteries&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Batteries &amp; Chargers</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=WetLeadAcid&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Leisure Batteries - Wet Lead Acid</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=AGM&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Leisure Batteries - AGM</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=IndustrialBatteries&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Industrial Batteries</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=ACChargers&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">AC Mains Battery Chargers</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarChargers&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Solar Battery Chargers</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=BatteryAccessories&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Battery Accessories</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=LightingSolutions&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Lighting</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=solar-lighting-kits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Solar Lighting Kits</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=LowEnergyLighting&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Low Energy Lighting</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PowerKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Power Kits</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=PortableFoldingSolarKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Portable &amp; Folding Solar Kits</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=BoatSolarKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Boat Solar Kits</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=WindSolarCombo&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Wind &amp; Solar Combos</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=OffGridSolarKits&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Off Grid &amp; Solar Backup Kits</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Accessories&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Accessories</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Regulators&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Regulators/Controllers</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=CableConnectors&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Cables &amp; Connectors</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=MountingSystems&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Mounting Systems</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarTestingDevices&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Solar Testing Devices</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=Labels1&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">MCS Warning Labels</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=12V-Accessories&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">12 Volt  Accessories</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=OtherProducts&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Other Products</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=WindPower&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Wind Power</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=SolarVents&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Vents &amp; Fans</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=MultiBuyDeals&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Multi-Buy Deals</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=catshow&amp;ref=StockClearance&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Stock Clearance</option><option value="sunshinesolar.co.uk/index.php?app=gbu0&amp;ns=prodspec&amp;sid=xl02s787x05asb14010ur253m691zpa3&amp;portrelay=1">Special Offers</option></select>
            </nav>
        </div>
    </div>
    <div class="container">
    </div>*@

